<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>简介新增</title>
    <link rel="stylesheet" href="/css2/layui.css">
</head>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-lg12">
            <fieldset class="layui-elem-field">
                <legend>用户管理 - 新增用户</legend>
                <div class="layui-field-box">
                    <form class="layui-form" action="/add1" method="POST">
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" placeholder="请输入小标题" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">内容</label>
                            <div class="layui-input-block">
                                <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="submit" value="立即提交" class="layui-btn">
                                <input type="reset" value="重置" class="layui-btn">
                                <!-- <button class="layui-btn">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript" src="/jS2/jquery.min.js"></script>
<script type="text/javascript" src="/js2/layui.js"></script>

</body>

</html>