<!DOCTYPE html>
<html>

<head>
    <!-- head -->
    <%- include('./dlzc_pub/head.ejs')%>
        <title>管理员登录---coy的自留地</title>
</head>

<body>
    <div class="canvas-wrap">
        <div id="canvas" class="gradient"></div>
    </div>
    <form class="mui-input-group" action="/adlo" method="POST">
        <div class="mui-text-center">
            欢迎来到管理员登录界面
        </div>
        <div class="mui-text-center">
            请使用管理员账号和管理员密码
        </div>
        <div class="mui-input-row">
            <label>管理员账号：</label>
            <input type="text" name="username" class="mui-input-clear" placeholder="请输入账号">
        </div>
        <div class="mui-input-row">
            <label>管理员密码：</label>
            <input type="password" name="password" class="mui-input-clear" placeholder="请输入密码">
        </div>
        <%if (message) {%>
            <p style="color: red; text-align: center;">
                <%=message%>
            </p>
            <% } %>
                <!-- <button type="button" class="mui-btn-block" id="loginBtn">登录</button> -->
                <input type="submit" value="管理员登录" style="font-size: 18px;display: block;width: 100%;margin-bottom: 10px;padding: 15px 0;">
                <div class="myfooter">
                    <!-- <p> <a href="/ad_re" target="_blank" style="color: #fff;">管理员注册</a></p> -->
                    <p><a href="page" target="_blank" style="color: #fff; ">用户登录</a></p>
                </div>
    </form>
</body>
<!-- js -->
<%- include('./dlzc_pub/jjss.ejs')%>

</html>