<!DOCTYPE html>
<html class="found1">

<head>
    <!-- head -->
    <%- include('./major_pub/head.ejs')%>
        <title>曾经---coy的自留地</title>
        <!-- Js -->
        <link href="/css/style_two.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <%- include('./major_pub/header.ejs')%>
        <div class="container">
            <div class="links">
                <div class="linkb">
                    <ul class="row">
                        <li class="col-md-4">
                            <a href="see_lushan" target="_blank">
                                <img src="/images/friend.jpg" width="30" />
                                <b>望庐山瀑布</b>
                                <p>2020.10.18日交</p>
                                <p>第二次web作业，敲一个望庐山瀑布，记得当时的难点应该是插入图片</p>
                            </a>
                        </li>
                        <li class="col-md-4">
                            <a href="ddw" target="_blank">
                                <img src="/images/friend.jpg" width="30" />
                                <b>当当网页面制作</b>
                                <p>2020.11.16日交</p>
                                <p>这次作业是CSS的第一次代码作业，记得当时的难点主要是选择器和定位不怎么会</p>
                            </a>
                        </li>
                        <li class="col-md-4">
                            <a href="xm" target="_blank">
                                <img src="/images/friend.jpg" width="30" />
                                <b>小米页面动态展示</b>
                                <p>2020.12.21日交</p>
                                <p>制作一个小米手机的页面，并让其动态展示到页面中</p>
                            </a>
                        </li>
                        <li class="col-md-4">
                            <a href="mi" target="_blank">
                                <img src="/images/friend.jpg" width="30" />
                                <b>小米官网导航栏</b>
                                <p>2020.11.23日交</p>
                                <p>制作小米官网的导航栏，记得要自己去官网扒图，拔了好多，然后，当时的难点图片移动、伪类选择器hover什么的</p>
                            </a>
                        </li>
                        <li class="col-md-4">
                            <a href="calculation" target="_blank">
                                <img src="/images/friend.jpg" width="30" />
                                <b>js制作计算器</b>
                                <p>2020.12.18日交</p>
                                <p>没记错的话这是JS的第一次正式代码作业，当时的难点应该是JS的一些点击事件、方法、页面设计等</p>
                            </a>
                        </li>
                    </ul>
                    <div class="linkt">
                        <h3>我的作业们</h3>
                        <h5>这些都是都是本人大一上学期的web专业课作业，我挑选了一些具有代表性的展示出来</h5>
                        <h5>也算是对曾经的一个回忆总结吧</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('./major_pub/footer.ejs')%>
            <!-- 弹出层 -->
            <%- include('./major_pub/popup.ejs')%>
                <script src="/js/GeeYo.js"></script>
</body>

</html>