<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="144x144" href="/ever_ddw/当当网.png" />
    <title>当当图书榜</title>
    <style>
        .brown {
            color: brown;
        }
        
        .blue {
            color: blue;
        }
        
        .footer {
            text-align: center;
        }
        
        .man {
            width: 800px;
            height: 30px;
            text-decoration: none;
            background-color: powderblue;
        }
        
        .man li {
            float: right;
            line-height: 20px;
            list-style-type: none;
        }
        
        .man a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 0 50px;
        }
        
        .nav {
            width: 1500px;
            height: 40px;
            background-color: coral;
        }
        
        .nav li {
            float: left;
            line-height: 30px;
            list-style-type: none;
        }
        
        .nav a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 0 24px;
        }
        
        .nav a:hover {
            background-color: slategray;
        }
    </style>
</head>

<body>
    <p class="right"><img src="/ever_ddw/logo.jpg" width="250px" height="80px">
        <div align="right"><img src="/ever_ddw/icon_count.png" />

            <ol class="man">
                <li>
                    <a href="#">都看阅器</a>
                </li>

                <li>
                    <a href="#">数字馆</a>
                </li>

                <li>
                    <a href="#">当当优品</a>
                </li>

                <li>
                    <a href="#">唯品汇</a>
                </li>
            </ol>

            <ul class="nav">
                <li>
                    <a href=#>首页</a>
                </li>

                <li>
                    <a href=#>图书</a>
                </li>

                <li>
                    <a href=#>音像</a>
                </li>

                <li>
                    <a href=#>童装</a>
                </li>

                <li>
                    <a href=#>服装</a>
                </li>

                <li>
                    <a href=#>鞋靴</a>
                </li>

                <li>
                    <a href=#>运动</a>
                </li>

                <li>
                    <a href=#>箱包</a>
                </li>

                <li>
                    <a href=#>美妆</a>
                </li>

                <li>
                    <a href=#>珠宝</a>
                </li>

                <li>
                    <a href=#>家居</a>
                </li>

                <li>
                    <a href=#>食品</a>
                </li>

                <li>
                    <a href=#>酒</a>
                </li>

                <li>
                    <a href=#>手机</a>
                </li>

                <li>
                    <a href=#>数码</a>
                </li>

                <li>
                    <a href=#>电脑</a>
                </li>

                <li>
                    <a href=#>家电</a>
                </li>
            </ul>

            <div align=center><img src="/ever_ddw/banner.png" width="1500px" />
                <div align=left><img src="/ever_ddw/bg_bang.gif" />

                    <table>
                        <tr>
                            <td>
                                <div align=left>
                                    <img src=/ever_ddw/bookNo1.gif ">
                            </td>

                            <td>
                                <div align=left><img src="/ever_ddw/book-01.jpg ">

                                    <ul class="you ">
                                        <li class="blue ">偷影子的人</li>

                                        <li>作者；[法]马克·李维（Marc Levy) 著，段韵灵 译</li>

                                        <li>出版社；湖南文艺出版社</li>

                                        <li class="brown ">当当价；￥ 17.90</li>

                                        <li>不知道姓氏的克雷儿。这就是你在我生命里的角色，</li>

                                        <li>我童年时的小女孩，今天蜕变成了女人，一段青梅竹</li>

                                        <li>马的回忆，一个时间之神没有应允的愿望。一个老是</li>

                                        <li>受班上同学欺负的瘦弱小男孩，因为有一种特殊能力</li>

                                        <li>而强大；他能“偷别人的影子”，因而能看见他</li>
                                    </ul>
                            </td>

                            <td align=down>
                                <div align=left><img src="/ever_ddw/bookNo3.gif ">
                            </td>
                            <td>
                                <div align=left><img src="/ever_ddw/book-03.jpg " width="300px " height="200px ">
                                    <ul>
                                        <li class="blue ">改变孩子先改变自己</li>

                                        <li>作者；贾容韬 贾毅 著</li>

                                        <li>出版社；作家出版社</li>

                                        <li class="brown ">￥22.20 7.4折</li>
                                    </ul>

                            </td>
                            <td>
                                <div align=left><img src="/ever_ddw/bookNo2.gif ">
                            </td>

                            <td align=up>
                                <div align=left><img src="/ever_ddw/book-02.jpg " width="300px " height="200px ">

                                    <ul>
                                        <li class="blue ">看见（央视知名记者、主持人柴静；十年个人</li>

                                        <li class="blue ">成长的告白，中国社会变迁的备忘</li>

                                        <li>作者；柴静 著</li>

                                        <li>出版社；广西师范大学出版社</li>

                                        <li class="brown ">￥29.40 7.4折</li>
                                    </ul>
                            </td>

                        </tr>


                    </table>
                    <div class="footer ">Copyright (C) 当当网 2004-2017, All Rights Reserved <img src="validate.gif " alt="# " />京ICP证041189号出版物经营许可证 新出发京批字第直0673号</div>


</body>

</html>