<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        小米商城 - 小米10 Pro、Redmi K30 Pro、小米MIX Alpha，小米电视官方网站
    </title>
    <link rel="icon" type="/ever_mi/png" sizes="144*144" href="/ever_mi/小米.jpg">
    <!-- <link rel="stylesheet" href="mi.css"> -->
    <style>
        .nav {
            width: 1500px;
            height: 100px;
            position: relative;
            border: 1px grey;
        }
        
        .bigimg {
            width: 125px;
            height: 55px;
            border: 1px solid;
            transition: all 0.7s;
        }
        
        .img {
            width: 60px;
            height: 60px;
            background-color: #ff6700;
            position: relative;
        }
        
        div {
            display: inline-block;
        }
        
        .show {
            border: 1px solid rgba(255, 0, 0, 0);
            width: 60px;
            overflow: hidden;
        }
        
        .show:hover .bigimg {
            margin-left: -60px;
        }
        
        ul {
            padding-left: 25px;
            position: relative;
            top: -25px;
        }
        
        ul li {
            display: inline-block;
        }
        
        a {
            text-decoration: none;
            display: inline-block;
        }
        
        a:hover {
            color: rgba(243, 125, 14, 0.774);
        }
        
        .try1 {
            padding-left: 135px;
            padding-top: 23px;
            width: 150px;
            height: 70px;
        }
        
        div ul li a {
            color: black;
            font-size: 18px;
            padding-left: 20px;
        }
        
        .try2 {
            position: relative;
            padding-left: 100px;
            top: -29px;
        }
        
        .hid1 {
            width: 1500px;
            height: 340px;
            background-color: white;
            top: 22px;
            left: 38px;
            position: absolute;
            left: -94px;
            display: none;
        }
        
        li:hover .hid1 {
            display: block;
        }
        
        p {
            text-align: center;
        }
        
        .img1 {
            padding-top: 50px;
        }
        
        .hid2 {
            width: 1500px;
            height: 340px;
            background-color: white;
            top: 22px;
            left: 38px;
            position: absolute;
            display: none;
            left: -94px;
        }
        
        li:hover .hid2 {
            display: block;
        }
        
        .img2 {
            padding-top: 50px;
        }
        
        .hid3 {
            width: 1500px;
            height: 340px;
            background-color: white;
            top: 22px;
            left: 38px;
            position: absolute;
            display: none;
            left: -94px;
        }
        
        li:hover .hid3 {
            display: block;
        }
        
        .img3 {
            padding-top: 50px;
        }
        
        .hid4 {
            width: 1500px;
            height: 340px;
            background-color: white;
            top: 22px;
            left: 38px;
            position: absolute;
            display: none;
            left: -194px;
        }
        
        li:hover .hid4 {
            display: block;
        }
        
        .img4 {
            padding-top: 50px;
        }
        
        .hid5 {
            width: 1500px;
            height: 340px;
            background-color: white;
            top: 22px;
            left: 38px;
            position: absolute;
            display: none;
            left: -94px;
        }
        
        li:hover .hid5 {
            display: block;
        }
        
        .img5 {
            padding-top: 50px;
        }
        
        .hid6 {
            width: 1500px;
            height: 340px;
            background-color: white;
            top: 22px;
            left: 38px;
            position: absolute;
            display: none;
            left: -94px;
        }
        
        li:hover .hid6 {
            display: block;
        }
        
        .img6 {
            padding-top: 50px;
        }
        
        .hid7 {
            width: 1500px;
            height: 340px;
            background-color: white;
            top: 22px;
            left: 38px;
            position: absolute;
            display: none;
            left: -94px;
        }
        
        li:hover .hid7 {
            display: block;
        }
        
        .img7 {
            padding-top: 50px;
        }
    </style>
</head>

<body>
    <div class="nav">
        <div class="try1">
            <div class="show">
                <div class="bigimg">
                    <div class="img">
                        <img src="/ever_mi/mi-logo.png" />
                    </div>
                    <div class="img">
                        <img src="/ever_mi/mi-home.png" />
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">小米手机</a>
                    <div class="hid1">
                        <div class="img1">
                            <a href="#">
                                <img src="/ever_mi/1.1.jpg" width="160px" height="110px"> <br>
                                <p>小米10至尊纪念版</p>
                                <p style="color: orange;">5299元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/1.2.jpg" width="160px" height="110px"> <br>
                                <p>小米10</p>
                                <p style="color:orange">3799元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/1.3.jpg" width="160px" height="110px"> <br>
                                <p>小米10青春版 5G</p>
                                <p style="color:orange">1999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/1.4.jpg" width="160px" height="110px"> <br>
                                <p>小米MIX Alpha</p>
                                <p style="color:orange">19999元起</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Redmi 红米</a>
                    <div class="hid2">
                        <div class="img2">
                            <a href="#">
                                <img src="/ever_mi/2.1.jpg" width="160px" height="110px"> <br>
                                <p>Redmi K30S 至尊纪念版</p>
                                <p style="color: orange;">2599元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/2.2.jpg" width="160px" height="110px"> <br>
                                <p>Redmi K30 至尊纪念版</p>
                                <p style="color: orange;">1999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/2.3.jpg" width="160px" height="110px"> <br>
                                <p>Redmi K30S 系列</p>
                                <p style="color: orange;">3199元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/2.4.jpg" width="160px" height="110px"> <br>
                                <p>Redmi K30系列</p>
                                <p style="color: orange;">1399元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/2.5.jpg" width="160px" height="110px"> <br>
                                <p>Redmi 10X</p>
                                <p style="color: orange;">999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/2.6.jpg" width="160px" height="110px"> <br>
                                <p>Redmi Note8</p>
                                <p style="color: orange;">999元起</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">电视</a>
                    <div class="hid3">
                        <div class="img3">
                            <a href="#">
                                <img src="/ever_mi/3.1.jpg" width="160px" height="110px"> <br>
                                <p>小米电视大师 </p>
                                <p>82英寸 至尊纪念版</p>
                                <p style="color: orange;">49999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/3.2.jpg" width="160px" height="110px"> <br>
                                <p>小米电视大师</p>
                                <p> 82英寸</p>
                                <p style="color: orange;">9999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/3.3.jpg" width="160px" height="110px"> <br>
                                <p>小米透明电视</p>
                                <p>&nbsp;</p>
                                <p style="color: orange;">49999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/3.4.jpg" width="160px" height="110px"> <br>
                                <p>小米电视大师</p>
                                <p> 65英寸OLED</p>
                                <p style="color: orange;">12999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/3.5.jpg" width="160px" height="110px"> <br>
                                <p>Redmi MAX </p>
                                <p>98英寸</p>
                                <p style="color: orange;">19999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/3.6.jpg" width="160px" height="110px"> <br>
                                <p>小米电视4A </p>
                                <p>60英寸</p>
                                <p style="color: orange;">2399元起</p>
                            </a>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="#">笔记本</a>
                    <div class="hid4">
                        <div class="img4">
                            <a href="#">
                                <img src="/ever_mi/4.1.jpg" width="160px" height="110px"> <br>
                                <p>Redmi G 游戏本</p>
                                <p>&nbsp;</p>
                                <p style="color: orange;"></p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/4.2.jpg" width="160px" height="110px"> <br>
                                <p>RedmiBook 16 </p>
                                <p style="color: orange;">4999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/4.3.jpg" width="160px" height="110px"> <br>
                                <p>RedmiBook 14 Ⅱ </p>
                                <p style="color: orange;">3199元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/4.4.jpg" width="160px" height="110px"> <br>
                                <p>Pro 15.6" 2020款 </p>
                                <p style="color: orange;">5999元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/4.5.jpg" width="160px" height="110px"> <br>
                                <p>RedmiBook Air 13</p>
                                <p style="color: orange;">4899元起</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/4.6.jpg" width="160px" height="110px"> <br>
                                <p>显示器</p>
                                <p style="color: orange;">2299元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">家电</a>
                    <div class="hid5">
                        <div class="img5">
                            <a href="#">
                                <img src="/ever_mi/5.1.jpg" width="160px" height="110px"> <br>
                                <p>米家互联网空调C1 </p>
                                <p>（一级能效）</p>
                                <p style="color: orange;">2099元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/5.2.jpg" width="160px" height="110px"> <br>
                                <p>米家互联网空调</p>
                                <p>（一级能效）</p>
                                <p style="color: orange;">2099元</p>
                            </a>
                            <a href="#">
                               &nbsp;  &nbsp; &nbsp;<img src="/ever_mi/5.3.jpg" width="160px" height="110px"> <br>
                                <p>Redmi全自动波轮洗衣机1A</p>
                                <p> 8kg</p>
                                <p style="color: orange;">849元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/5.4.jpg" width="160px" height="110px"> <br>
                                <p>米家互联网洗烘一体机</p>
                                <p>&nbsp;</p>
                                <p style="color: orange;">1899元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/5.5.jpg" width="160px" height="110px"> <br>
                                <p>米家风冷对开门冰箱 </p>
                                <p>483L</p>
                                <p style="color: orange;">2199元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/5.6.jpg" width="160px" height="110px"> <br>
                                <p>米家两门冰箱 </p>
                                <p>160L</p>
                                <p style="color: orange;">899元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#"> 路由器</a>
                    <div class="hid6">
                        <div class="img6">
                            <a href="#">
                                <img src="/ever_mi/6.1.jpg" width="160px" height="110px"> <br>
                                <p>Redmi路由器 AX6</p>
                                <p style="color: orange;">329元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/6.2.jpg" width="160px" height="110px"> <br>
                                <p>Redmi路由器 AX5</p>
                                <p style="color: orange;">199元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/6.3.jpg" width="160px" height="110px"> <br>
                                <p>小米路由器 AX1800</p>
                                <p style="color: orange;">329元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/6.4.jpg" width="160px" height="110px"> <br>
                                <p>小米AIoT路由器 AX3600</p>
                                <p style="color: orange;">599元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/6.5.jpg" width="160px" height="110px"> <br>
                                <p>Redmi路由器AC2100</p>
                                <p style="color: orange;">159元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/6.6.jpg" width="160px" height="110px"> <br>
                                <p>小米路由器AC2100</p>
                                <p style="color: orange;">199元</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">智能硬件</a>
                    <div class="hid7">
                        <div class="img7">
                            <a href="#">
                                <img src="/ever_mi/7.1.jpg" width="160px" height="110px"> <br>
                                <p>小米智能摄像机 >云台版</p>
                                <p style="color: orange;">179元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/7.2.jpg" width="160px" height="110px"> <br>
                                <p>小米小爱老师</p>
                                <p style="color: orange;">799元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/7.3.jpg" width="160px" height="110px"> <br>
                                <p>小米全自动智能门锁</p>
                                <p style="color: orange;">1799元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/7.4.jpg" width="160px" height="110px"> <br>
                                <p>Redmi小爱触屏音箱 8英寸</p>
                                <p style="color: orange;">349元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/7.5.jpg" width="160px" height="110px"> <br>
                                <p>小爱触屏音箱</p>
                                <p style="color: orange;">199元</p>
                            </a>
                            <a href="#">
                                <img src="/ever_mi/7.6.jpg" width="160px" height="110px"> <br>
                                <p>Redmi小爱音箱 Play</p>
                                <p style="color: orange;">79元起</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">服务</a>
                </li>
                <li>
                    <a href="#">社区</a>
                </li>
            </ul>
        </div>
        <div class="try2">
            <form>
                <input id="jd" name="aaa" list="jdlist" style="height:40px;border:1px solid #DEE1E7;border-radius:3px;" width="250px" placeholder="犬夜叉手机壳" />
                <datalist id="jdlist" cssClass="border-color:grey;">
                    <option>王一博同款手机</option>
                    <option>小米10</option>
                    <option>Redmi K30 Pro</option>
                    <option>卡丁车</option>
                    <option>全部商品</option>
                    <option>耳机</option>
                    <option>空调</option>
                    <option>净水器</option>
                </datalist>
            </form>
        </div>
    </div>
</body>

</html>