<!DOCTYPE html>
<html>

<head>
    <!-- head -->
    <%- include('./dlzc_pub/head.ejs')%>
        <title>登录---coy的自留地</title>
</head>

<body>
    <div class="canvas-wrap">
        <div id="canvas" class="gradient"></div>
    </div>
    <form class="mui-input-group" action="/page" method="POST">
        <div class="mui-text-center">
            欢迎登陆本系统!
        </div>
        <div class="mui-text-center">
            使用账号和密码
        </div>
        <div class="mui-input-row">
            <label>账号：</label>
            <input type="text" name="username" class="mui-input-clear" placeholder="请输入账号">
        </div>
        <div class="mui-input-row">
            <label>密码：</label>
            <input type="password" name="password" class="mui-input-clear" placeholder="请输入密码">
        </div>
        <%if (message) {%>
            <p style="color: red; text-align: center;">
                <%=message%>
            </p>
            <% } %>
                <input type="submit" value="登录" style="font-size: 18px;display: block;width: 100%;margin-bottom: 10px;padding: 15px 0;">
                <div class="myfooter">
                    <p> <a href="/register" target="_blank" style="color: #fff;">注册</a></p>
                    <p><a href="/adlo" target="_blank" style="color: #fff;">管理员登录</a></p>
                </div>
    </form>
</body>
<!-- js -->
<%- include('./dlzc_pub/jjss.ejs')%>

</html>