<html>

<head>
    <meta content="text/html;charset=UTF-8">
    <center>
        <title>唐诗一首 </title>
    </center>
</head>

<body>
    <center>
        <P>望庐山瀑布</P>
        <p>作者：李白</p>
        <p>日照香炉生紫烟</p>
        <p>遥看瀑布挂前川</p>
        <p>飞流直下三千尺</p>
        <p>疑似银河落九天</p>
    </center>
</body>
<img src="/images/lushan.jpg" wide="500" height="500" />

</html>