<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CSS Movie Camera</title>

    <link rel="stylesheet" href="css/style1.css">
    <link href="/css/style_two.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <div class="scene">

        <!-- film box -->

        <div class="unit q"></div>
        <div class="detail q"></div>
        <div class="detail two q"></div>
        <div class="detail three q"></div>
        <div class="detail four q"></div>
        <div class="detail five q"></div>
        <div class="detail six q"></div>
        <div class="detail seven q"></div>
        <div class="detail eight q"></div>
        <div class="detail nine q"></div>
        <div class="detail ten q"></div>
        <div class="detail eleven q"></div>
        <div class="detail twelve q"></div>
        <!-- Back -->
        <div class="entry q"></div>
        <div class="entry-holder q"></div>
        <!-- Top -->
        <div class="nav">
            <a class="logo" href="project"><img src="/images/logo.png" width="40" title="coy的自留地"></a>

        </div>
        <div class="top-block q"></div>
        <div class="film-roll q"></div>
        <div class="film-roll-two q"></div>
        <div class="film-roll-behind q"></div>
        <div class="film-roll-behind-two q"></div>
        <div class="film-roll-behind-three q"></div>
        <div class="film-roll-behind-four q"></div>
        <div class="film-roll-behind-five q"></div>
        <div class="film-roll-behind-six q"></div>
        <div class="film-roll-behind-seven q"></div>
        <div class="film-roll-behind-eight q"></div>
        <!-- legs -->

        <div class="leg"></div>
        <div class="leg-two"></div>
        <!-- background shapes -->

        <div class="shape-sq first c"></div>
        <div class="shape-ci"></div>
        <div class="shape-tri c"></div>
        <!-- hidden shapes -->

        <div class="shape-tri hide-one c"></div>
        <div class="shape-sq hide-two c"></div>
        <div class="shape-ci hide-three c"></div>
        <div class="shape-sq hide-four c"></div>
        <div class="shape-sq hide-five c"></div>
        <div class="shape-sq hide-six c"></div>
        <div class="shape-ci hide-seven c"></div>
        <div class="shape-ci hide-eight c"></div>
        <!-- front block & light -->

        <div class="front-block"></div>
        <div class="front-block-two"></div>

    </div>

    <script src="js/script.js"></script>

</body>

</html>