<aside>
    <section class="main-aside-avatar">
        <img src="/images/blog_5.jpg" alt="">
    </section>
    <ul>
        <li><a href="/blog">博客首页</a></li>
        <li><a href="/write">撰写博客</a></li>
        <li><a href="/#">关于博客</a></li>
        <li><a href="/#">学习链接</a></li>
    </ul>
</aside>