<head>
    <meta charset="UTF-8">
    <title>博客---coy的自留地</title>
    <meta http-equiv="x-ua-compatible" content="IE=Edgem chrome=1">
    <meta name="description" content="coy的个人博客,分享Node.js技术,不忘初心,共同成长">
    <meta name="keywords" content="Node,Node.js,coy的博客,Node.js技术">
    <link rel='stylesheet' href='/css1/normalize.css' />
    <link rel="stylesheet" href="/css1/main.css">
    <link rel="icon" type="image/jpeg" size="144*144" href="/images/log2.png">
</head>