<div class="nav">
    <a class="logo" href="project"><img src="/images/logo.png" width="40" title="coy的自留地"></a>
    <a class="logo pull-right sobtn"><span class="glyphicon glyphicon-search" style="color: #B4B4B4;"></span></a>
</div>