<div class="so">
    <i class="iconfont" title="关闭">×</i>
    <div class="container">
        <form action="https://www.baidu.com/baidu" target="_blank">
            <input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
            <input type="text" name="word" class="form-control" baiduSug="1" value="百度搜索..." />
            <input type="submit" style="display: none;" />
        </form>
    </div>
</div>
</div>
</div>