<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item"><a href="back">控制台</a></li>
            <li class="layui-nav-item">
                <a href="author">用户管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="introBack">简介管理</a>
            </li>
        </ul>
    </div>
</div>