body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.found body {
    background-image: url("../images/bga.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}